.login {
    @include flex(center, center);
    padding-top: 100px;

    &__form-text {
        text-align: center;
        font-size: 2rem;
        color: $txt-white;
        margin-bottom: 30px;
    }

    &__form-wrapper {
        border: 1px solid #ebebeb;
        padding: 20px;
        background-color: #05152e;
        border-radius: 8px;
    }

    &__form-inner {
        width: 600px;

        @include mobile {
            width: 100%;
        }

        &-input {
            border-radius: 8px;
            width: 100%;
            margin-bottom: 40px;
            padding: 4px 10px;
            border: 1px solid #898989;
            background-color: #fff;

            &__input {
                width: 100%;
                font-size: 1.4rem;
                border: none;
                outline: none;
                padding: 5px 10px;
                color: $txt-second-color;
                font-weight: 100;
            }  

            &-message {
                color: red;
                padding-left: 10px;
                font-size: 1rem;
                font-weight: 600
            }
        }
        &-btn {
            @include flex(center, center);
            margin-top: 60px;
        }

        &-navigate {
            @include flex(center, center);
            margin-top: 30px;
            color: $txt-white;
            font-size: 1.3rem;
            letter-spacing: .1rem;

            span {
                font-weight: 600;
            }

            @include mobile {
                display: flex;
                flex-direction: column;
            }
        }
    }
}